*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
#navbar{
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
}
#navbar nav ul{
    display: flex;
    list-style: none;
    gap: 20px;;
}
#navbar nav ul li a{
    text-decoration: none;
    align-items: center;
}

/* Home section coding start here */
#home{
    width:100%;
    height:100vh;
    border: 1px solid red;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;

}